@import "variables";
// BLOCK
.button {
    font: {
        weight: bolder;
        size: 2.6vh;
    }
    width: 100%;
    padding: 8px 0;
    margin: 1.8vh;
    border: {
        style: solid;
        radius: 2px;
        width: 1px;
        color: rgba(0, 0, 0, 0.1);
    }
}

.logout {
    text: {
        decoration: none;
    }
    color: $black;
    padding: 3px 5px;
    border: {
        radius: 2px;
        color: $black;
        width: 1px;
        style: solid;
    }
}

// ELEMENT 
// MOD
.button--secondary {
    background: white;
}

.button--main {
    background: $dark-green;
    color: white;
}

.button--responsive {
    @include responsive(s) {
        font-size: 5vh;
    }
}