@import "variables";
// BLOCK
.form {
    display: flex;
    flex: {
        wrap: wrap;
        direction: column;
    }
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
}

// ELEMENT
.form__label {
    display: block;
    font: {
        family: 'Lato', sans-serif;
        size: 2.6vh;
    }
    margin: {
        top: 1vh;
        bottom: 0.8vh;
    }
    align-self: flex-start;
    color: rgba($color: $black, $alpha: 0.8);
}

.form__input {
    width: 100%;
    font: {
        size: 17px;
    }
    padding: 2px 3px;
    margin: {
        bottom: 1vh;
    }
    border: {
        radius: 2px;
        width: 1px;
        color: rgba(0, 0, 0, 0.2);
        style: solid;
    }
    background: none;
}

// MOD
.form--responsive {
    @include responsive(s) {
        width: 100%;
    }
}

.form__item {
    display: flex;
    flex: {
        wrap: wrap;
        direction: column;
    }
    width: 100%;
}

.form__label--responsive {
    @include responsive(s) {
        font-size: 3.6vh;
        margin: {
            top: 1.2vh;
            bottom: 1.4vh;
        }
    }
}